page-login {
  
  ion-content.content {
    background-color: $main-color;
  }
  .text {
    color: $main-text-color;
  }

  ion-item.item {
    background-color: inherit;
  }

  .button-ios, .button-md {
    background-color: $main-text-color;
  }
	.view-password {
		right: 0;
		bottom: 5px;
		font-size:0.9em;
		color :$main-text-color;
	}



}