page-saved-maps {
    .saved-map {
        ion-label {
            white-space:inherit !important;
            text-transform: capitalize !important;
            font-size: 0.7em
        }
    }

    .action_buttons {
        position: relative;
        top: 5px;
    }
}
