<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Home</ion-title>

  </ion-navbar>

</ion-header>

      
<ion-content padding class="bg-wrap">
      
    <ion-grid *ngIf="userInfo">
      <!-- <ion-row>
        <ion-col col-4 offset-4>
            <ion-img no-highlights width="100" height="60" src="assets/img/email_logo.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
            <p> &nbsp;</p>
        </ion-col>
      </ion-row> -->

      <ion-item transparent-bg custom-gutter>
        <ion-icon name="ios-navigate" item-start class="home-icon"></ion-icon>
        <!-- <ion-icon name="ios-create" item-end class="icon-edit" (click)="mapIdUpdate()"></ion-icon> -->
        <span class="color-white">Map ID</span>   <span block-element class="text-blue"><b>{{userInfo.group.joinKey}}</b></span>
        <!-- <ion-badge item-end color="secondary">{{userInfo.group.joinKey}}</ion-badge> -->

      </ion-item>

      <ion-item transparent-bg custom-gutter>
        <ion-icon name="md-contact" item-start class="home-icon"></ion-icon>
        <!-- <ion-icon name="ios-create" item-end class="icon-edit"></ion-icon> -->
        <span class="color-white">Display Name</span>           <span block-element class="text-blue"><b>{{userInfo.profile.defaultID}}</b></span>
      </ion-item>
       
    <form class="list-forms" [formGroup]= "search_form">   


      <ion-row>
        <div class="home-search">
            <input type="search" class="channel-ID" placeholder="Enter Channel ID" formControlName="joinkey">

            <button ion-button icon-left no-height color=""  (click)="searchJoinkey()"><ion-icon name="search"></ion-icon></button>
        </div>      
      </ion-row>

      <ion-row>
          <!-- <ion-col col-6>
              <ion-item>
                   <ion-input type="text" formControlName="joinkey" placeholder="Channel id"></ion-input>
              </ion-item>
              <ion-item class="login-error" no-lines *ngIf="search_form.controls.joinkey.invalid  && search_form.controls.joinkey.dirty">
                  <p ion-text text-wrap>Enter channel id</p>
              </ion-item>
          </ion-col> -->
          
          <!-- <ion-col col-6>
              <button ion-button block icon-left no-height color="" [disabled]="search_form.invalid" (click)="searchJoinkey()">
                <ion-icon name="search"></ion-icon>
                Search
              </button>
           
          </ion-col> -->
      </ion-row>
    </form>

      <ion-row>
        <ion-col col-12>
          <!-- <button ion-button block color="danger" no-height (click)="changePassword()">  
          </button> -->

          <button class="s-location" ion-button block icon-left no-height color="danger" (click)="shareLocation()">
            <ion-icon name="md-share"></ion-icon> 
            Share Your Location
          </button>

          </ion-col>
      </ion-row>

      
      
      <ion-row>
          <ion-col col-12>
            <button ion-button block outline icon-left no-height color="medium" (click)="viewMyMap()" class="home-b-button">
               <ion-icon name="ios-pin"></ion-icon> 
               View My Map
            </button>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-12>
              <button ion-button block outline icon-left no-height color="danger" (click)="exitAllMaps()" class="home-b-button">
                  <ion-icon name="md-log-out"></ion-icon> 
                  Exit All Maps
              </button>
          </ion-col>
      </ion-row>

    </ion-grid>
   
</ion-content>
