<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Notification</ion-title>

  </ion-navbar>

</ion-header>

<button ion-button icon-only (click)="add_message()" class="bottom-bubble">
    <ion-icon name="chatbubbles"></ion-icon>
 </button>
 
<ion-content padding>
    
    <ion-card *ngFor="let notification of notifications">
        <ion-item>
            <!-- <div *ngIf = "notification.profile_image"> -->
                <ion-avatar item-start *ngIf = "notification.profileImage">
                <img src="{{profilePictureUrl + notification.profileImage}}">
                </ion-avatar>  
            <!-- </div> -->
            <!-- <div *ngIf = "!notification.profile_image"> -->
                <ion-avatar item-start *ngIf = "!notification.profileImage">
                  <img src="{{defaultProfilePicture}}">
                </ion-avatar>  
            <!-- </div> -->
        
        <h2> {{notification.defaultId}} </h2>
        <p>{{notification.createdDate | date:'MMM d, h:mm a'}}</p>
        </ion-item>
        <ion-grid>
           <ion-row>
                <ion-col col-9>                
                    <p (click) = "notification_view(notification)">{{notification.message}}</p>                    
                </ion-col>
                <ion-col col-3> 
                    <ion-thumbnail item-end>
                       <div *ngIf = "notification.attachment.file">
                            <img src="{{notificationPictureUrl + notification.attachment.file.url}}">
                       </div> 

                       <div *ngIf = "!notification.attachment.file">
                            <img src="{{defaultProfilePicture}}">
                       </div> 
                        
                    </ion-thumbnail>
                </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
        <ion-col>
            <button ion-button icon-start clear small (click) = "reply(notification)">
                <ion-icon name="md-share-alt"></ion-icon>
            </button>
        </ion-col>
        <ion-col>
                <button ion-button icon-start clear small (click) = "share(notification)">
                    <ion-icon name="md-share"></ion-icon>
                </button>
            </ion-col>
        <ion-col>
            <button ion-button icon-start clear small color="danger" (click) = "delete(notification)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
