<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Pro Plans</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="plans-bg">
   <form class="plans-form" >  
     <div class="slide-wrap cf">
    <ion-slides pager="true">
        
        <ion-slide *ngFor = "let plan of plans">

          <!-- Plan 1 -->
          <div class="plan-wrapper {{plan.name}}">
            <div class="plan-header">{{plan.name}}</div>
            <div class="plan-body">
              
              <!-- <h5>FREE</h5> -->
              <h6>${{plan.price}}</h6>

              <p>Lorem ipsum dolor   <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>Sed ut perspiciatis <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>But I must explain to you <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>Li Europan lingues es membres del <ion-icon name="md-close" class="icon-inactive" item-start></ion-icon></p>
              <p>The European languages are members of  <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>The European languages are members of  <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>The European languages are members of  <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
              <p>The European languages are members of  <ion-icon name="checkmark" class="icon-active" item-start></ion-icon></p>
            </div>
            <div class="plan-footer" *ngIf="plan.id == userplan"> 
                <button ion-button full round color="dark">Subscribed</button>
            </div>

            <div class="plan-footer" *ngIf="plan.id !== userplan"> 
                <button ion-button full round color="dark" (click)="update(plan.id,plan.price)">Update</button>
            </div>

          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </form>
</ion-content>

