page-pro-plans {

    .plans-bg {
        background-color: #f8f8fa;
    }

    .promo-bar {
        background-color: #f4f4f4;
    }

    .promo-code-bar {
        color: color($colors, secondary);
        border:1px solid #bdbdbd;
        text-align: center !important;
        border-radius: 5px;
        color:#000;
        padding-left: 15px;

        &::placeholder { color: red; }

    }

    .plan-wrapper {
        // border:1px solid red;
        background-color:#fff;
        box-shadow:0 10px 6px -8px #777;
        border:1px solid #ddd;
        border-top:0;
        border-bottom:0;
        border-radius: 8px;

        .plan-header
         {
            background:#ccc; // Default color
            padding:10px;
        }

        .plan-footer {
            background:#fff; // Default color
            padding: 10px;
        }

        .plan-header {
            -webkit-border-top-left-radius: 8px;
            -webkit-border-top-right-radius: 8px;
            -moz-border-radius-topleft: 8px;
            -moz-border-radius-topright: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .plan-body {
            padding: 10px;
            text-align:left;

            
            h5 {
                font-size:1.4em;
                margin-bottom: -10px;
                margin-top: 15px;
            }
            h6 {
                font-size:1.2em;
                margin-top: 15px;
                margin-bottom: 30px;
            }

            h5, h6 {
                text-align: center;
            }

            p {
                font-size:0.8em;

                ion-icon {
                    float:right
                }
             }
        }

        .plan-footer {
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -moz-border-radius-bottomright: 8px;
            -moz-border-radius-bottomleft: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

    // plan status

    &.free,
    &.Free {
        .plan-header {
            background:orange;
        }

        button {
            background:orange;
            color:#11111b;
        }
    }

    &.gold {
        .plan-header {
            background:#f7dd64;
        }
        button {
            background:#f7dd64;
            color:#11111b;
        }
    }

    &.pro,
    &.Pro {
        .plan-header {
            background:#465eff;
            color:#fff;
        }
        button {
            background:#465eff;
            color:#ffffff;
        }
    }

    }

    // active status
    .icon-active {
        color:#27d734;
    }
    .icon-inactive {
        color:#afaeae;
    }

    // [color="usual"] {
    //     background-color:red
    //   }

    .slide-wrap {
        height: 85vh;
    }



    .plan-wrapper {
        margin-top: -50px;
   
    .plan-body {
    min-height:290px;

       p {
        font-size: 13px;
    }

    }
}
   

    
}
 