page-searchpagetoggle {

    .tog-nav {
        display: block;
        padding:15px;
        margin-left:0px;
        cursor: pointer;
        border-radius:3px;
        color:#333;
        border:1px solid #ddd;

        span{ font-size: 16px;}
      }
    
     
}

page-searchpagetoggle .tog-nav .icon:before {
  color:#00a6ff;
  margin-right: 8px;
  font-size: 20px;
}

.head-share-sec .search-sec{
  padding:5px;
  border: 1px solid #ddd;

}

.head-share-sec .joined-map {
  height: 34px;
  padding: 0 2px;
}

.head-share-sec [aria-label="eye"]{color:#32db64;}
.head-share-sec [aria-label="eye"],
.head-share-sec [aria-label="share"],
.head-share-sec [aria-label="unlock"]
{font-size:32px;}
page-searchpagetoggle [aria-label="close"]{
    float: right;
    font-size: 38px;
    color: rgba(255, 0, 0, 0.6);
    font-weight: normal;
    margin-bottom: 30px;
  }


