<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title></ion-title> -->

    

    <div class="top-search-bar">
            <ion-grid class="">
            <form [formGroup]="_searchForm" class="list-form">
                <ion-row>
                 <ion-col col-2 center class="">
                    <button ion-button menuToggle class="marg-top">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                    </ion-col>
                    <ion-col col-3 center class="">
                        <input type="text" class="top-text-bar" formControlName="join_key" placeholder="Enter Channel ID" [class.invalid]="_searchForm.controls.join_key.invalid && _searchForm.controls.join_key.dirty">
                    </ion-col> 
                   
                    <ion-col col-4 center class="">
                        <input type="password" class="top-text-bar" formControlName="password" placeholder="Password">
                    </ion-col>
                    <ion-col col-2 center class="">
                        <button type="button" ion-button block color="dark" (click)="prepareData();" class="tpo-search">
                          <ion-icon name="search"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-1 center class="">
                        <ion-icon ios="ios-more" md="md-more" (click)="triggerToggle()"></ion-icon>
                    </ion-col>

                    <ion-item class="search-error" no-lines *ngIf="_searchForm.controls.join_key.invalid  && _searchForm.controls.join_key.dirty">
                            <p ion-text color="danger" text-wrap>Please enter channel id.</p>
                        </ion-item> 
                </ion-row>
               
            </form>
            </ion-grid>
        </div>
  </ion-navbar>
</ion-header>


<ion-content>

<!-- Custom toggle start -->


<!-- <ion-grid class="head-share-sec">
    <ion-row>
        <ion-col col-1 center class="">
            <ion-icon name="md-share"></ion-icon>
        </ion-col>
        <ion-col col-1 center class="">
            <ion-icon name="md-eye"></ion-icon>
        </ion-col>
        <ion-col col-7 center class="">
             <input type="text" name="" id="" class="joined-map" placeholder="Joined Map">
        </ion-col>
        <ion-col col-2 class="">
            <ion-icon name="md-unlock"></ion-icon>
        </ion-col>
        <ion-col col-1 class="">
            <ion-fab top right edge>
               <button ion-fab mini (click)="triggerToggle()"><ion-icon name="add"></ion-icon></button>
            </ion-fab>
        </ion-col>
    </ion-row>

    <ion-row>
        <div class="h-line"></div>
    </ion-row>
    
</ion-grid> -->




   <!-- <div class="div bottom"></div> -->
    
  <!-- Custom toggle end -->

<div id="map" style="height: 100%;"></div>

<!-- <span *ngFor="let member of members">
  <ion-row>
      <ion-col col-12><h2>PROFILE</h2></ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-6>Default ID:</ion-col>
      <ion-col col-6>{{member.profile.defaultID}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-6>Email:</ion-col>
      <ion-col col-6>{{member.profile.email}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-6>Phonenumber:</ion-col>
      <ion-col col-6>{{member.profile.phoneNumber}}</ion-col>
  </ion-row>

   <ion-row>
      <ion-col col-12><h2>GROUP</h2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Name:</ion-col>
      <ion-col col-6>{{member.group.name}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>Type:</ion-col>
        <ion-col col-6>{{member.group.type}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>Location Type:</ion-col>
        <ion-col col-6>{{member.group.locationType}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12><h2>POSITION</h2></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Latitude:</ion-col>
        <ion-col col-6>{{member.position.latitude}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6>Longitude:</ion-col>
          <ion-col col-6>{{member.position.longitude}}</ion-col>
      </ion-row>
     
</span> -->



<ion-card >
  <ion-item class="no-bottom-border item">
      <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text">{{timer.displayTime}}</button>
  </ion-item>
  <ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">
      <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
          <ion-icon name="refresh"></ion-icon>
          Reset
      </button>
      <button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="pause"></ion-icon>
          Pause
      </button>      
      <button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="play"></ion-icon>
          Resume
      </button>      
      <button ion-button icon-left clear small color="primary" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">
          <ion-icon name="play"></ion-icon>
          Start
      </button>            
  </ion-item>
</ion-card>  

<style>
.timer-button {
  font-size: 5rem !important;
  height: 1em !important;
}

.no-bottom-border.item .item-inner {
    border-bottom: none !important;
}
</style>



</ion-content>