participants-list {
    .tabbar::after {
		content: none;
	}

	.participants-tab .tabbar {
    bottom: auto !important;
}

.scroll-content{ padding-top:57px !important;
.item-md h2{margin: 7px 0 !important;}
ion-icon {
	margin-left: 14px;
	margin-top: 17px;
}
ion-icon {
	display: inline-block;
	font-size: 1.4em;
}

}

}
